# ESP-IDF build output
build/

# VS Code settings (optional - some teams share these)
.vscode/

# ESP-IDF managed components (restored by idf.py)
managed_components/

# SDK config backup
sdkconfig.old

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Storegenerate_rc

test_webserver/node_modules
test_webserver/keys

main/network_info.h
